:host {
    display: block; 
    border-left: 1px solid #ccc; 
    padding: 15px; 
    height: 100%;
    }

.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px;
    }
.add-btn {
    cursor: pointer; 
    background: #1DB954; 
    color: white; 
    border: none; 
    padding: 8px 15px; 
    border-radius: 5px;
    font-weight: bold;
    }

.progress-container {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-top: 15px;
    justify-content: center;
    }

#progress-bar {
    flex-grow: 1;
    cursor: pointer;
    }

#current-time, #duration {
    font-size: 0.85rem;
    font-family: monospace;
    color: #888;
}